HOST="YOUR HOST NAME WILL GO HERE"
USER="DATABASE USERNAME"
DB_PASSWORD="USER PASSWORD GOES HERE"
PORT="THE DESIRED PORT NUMBER"
DATABASE_NAME="THE NAME OF THE DATABASE GOES HERE"
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA"